<div class="page-title">
  <h1>Editing Slide</h1>
</div>

<%= simple_form_for [:admin, @kiosk, @slide] do |f| %>
  <%= f.input :pattern, collection: %w(markdown today announcements meetups_at_tiy meetups_worth_this_week this_week_speaker comic about grill iron_pints wifi fun_facts demo) %>
  <%= f.input :order_number, collection: (1..100) %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :markdown_content, as: :text, input_html: {rows: 10} %>
  <%= f.submit class: "btn btn-success" %>
<% end %>
