<section>
  <h2>About The Students</h2>
</section>
<% demo.each do |demo| %>
  <section>
    <table align="center">
      <tr>
        <td>
          <p><%= image_tag demo.profile_pic_link, :class => "demo_circle" %></p>
        </td>
        <td>
          <h4><%= demo.name.upcase %></h4>
          <p><%= demo.course %></p>
        </td>
      </tr>

    </table>
    <h4><%= demo.app_name.upcase %></h4>
    <p>
      <%= demo.rationale %>
    </p>
  </section>
<% end %>
