

<br>
<% meetups_worth_this_week.each do |meetup| %>
<section>
  <h3>Tech Meetups This Week</h3>
  <em>"<%= meetup.name %>"</em>
  <br>
  <br>
  <h4><%= meetup.group.name %></h4>
  <h5><%= Time.at(meetup.time/1000).strftime('%a, %b %d - %l:%M%p') %> @ <% if meetup.venue.nil? %> <%= "TBD" %> <% else %> <%= meetup.venue.name %><% end %></h5>
  <br>
</section>

<% end %>
