<!DOCTYPE html>
<html>
<head>
  <title>TiyKioskAdmin</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/flash' %>

  <header>
    <ul>
      <li><%= link_to 'Admin Root', admin_root_path %></li>
      <li><%= link_to 'Admin Kiosks', admin_root_path %></li>
      <li><%= link_to 'Sign Out', admin_sign_out_path, method: :delete %></li>
    </ul>
  </header>




  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
